@media screen and (min-width: 1024px) {
    .header-content {
        padding: 0 4rem;
    }

    nav {
        padding: 0.5rem 4rem;
    }

    main {
        padding: 2rem 4rem;
    }

    #memberDirectory {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 1025px) {
    .places-grid {
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 .";
        grid-template-columns: repeat(3, 1fr);
    }

    .visitor-info {
        position: sticky;
        top: 1rem;
        z-index: 100;
    }
} 