@media screen and (min-width: 768px) {
    .header-content {
        padding: 0 2rem;
    }

    nav {
        padding: 0.5rem 2rem;
    }

    main {
        padding: 2rem;
    }

    #memberDirectory {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 641px) {
    .places-grid {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        grid-template-columns: repeat(2, 1fr);
    }

    .place-card img:hover {
        transform: scale(1.05);
    }
} 